<div id="divScrollID">
  <h2>Book Event</h2>
<%= form_for :book_event, :url=>{:controller=>'book_events',:action=>'create_events' }, :html => {:id=>"bookEventFormID",:multipart => true} do |f| %>
  <%=f.hidden_field :user_id, :value => current_user.id%>
  <%=f.hidden_field :status, :value => "pending"%>
  <table>
    <tr>
      <td>
        <%="Booking Id"%>
      </td><td>
        <%= f.text_field :booking_id,:class=>"text-field-cls" %>
      </td>
    </tr>
    <tr>
      <td>
        <br/><%="Event Type" %>
      </td><td>
      <br/><%= f.select :function_id, options_for_select(@event_list),{:prompt=>"Select"}, {:onchange=>"selectFunction(this.value)",required: 'true',  class: 'text-width-cls'} %>
      </td>
    </tr>
    <tr>
      <td>
        <br/><%="Price/Per-Person" %>
      </td><td>
        <br/><%= f.text_field :price,:class=>"text-field-cls",:readonly=>true %>
      </td>
    </tr>
    <tr>
      <td>
        <br/><%="Event Venue" %>
      </td><td>
      <br/><%= f.select :venue_id, options_for_select(@event_venue),{:prompt=>"Select"}, {:onchange=>"venuFunction(this.value)",required: 'true',  class: 'text-width-cls'} %>
      </td>
    </tr>
     <tr>
      <td>
        <br/><%="Address" %>
      </td><td>
        <br/><%= f.text_area :address,:class=>"text-field-cls",:readonly=>true %>
      </td>
    </tr>
    <tr>
      <td>
        <br/><%="No of Guest" %>
      </td><td>
        <br/><%= f.text_field :no_of_guest,:class=>"text-width-cls" %>
      </td>
    </tr>
    <tr>
      <td>
        <br/><%="Amount" %>
      </td><td>
        <br/><%= f.text_field :amount,:class=>"text-width-cls",:readonly=>true %>
      </td>
    </tr>
    <tr>
      <td>
        <br/><%="Date" %>
      </td><td>
        <br/><%= f.text_field :date,:class=>"text-width-cls" %>
    </tr>
    <tr>
      <td>
        <br/><%="Equipment" %>
      </td><td>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :dj, {:class => ""}%>
      <%="DJ"%>
      </td>
      <td>
        <%= f.check_box :stage, {:class => ""} %>
      <%="Stage"%>
      </td>
      <td>
        <%= f.check_box :mike_speaker, {:class => ""} %>
      <%="Mike and Speaker"%>
      </td>
    </tr>
     <tr>
      <td>
        <br/><%="Food" %>
      </td><td>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.check_box :break_fast, {:class => ""}%>
      <%="Break Fast"%>&nbsp;&nbsp;&nbsp;&nbsp;
      </td>
      <td>
        <%= f.check_box :lunch, {:class => ""} %>
      <%="Lunch"%>
      </td>
      <td>
        <%= f.check_box :tea_snack, {:class => ""} %>
      <%="Tea and Snack"%>
      </td>
      <td>
        <%= f.check_box :dinner, {:class => ""} %>
      <%="Dinner"%>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.radio_button :food_type, 'veg'%>
      <%="Only Veg"%>&nbsp;&nbsp;&nbsp;&nbsp;
      </td>
      <td>
        <%= f.radio_button :food_type, 'nonveg'%>
      <%="Only Non Veg"%>
      </td>
      <td>
        <%= f.radio_button :food_type, 'veg_nonveg'%>
      <%="Veg and Non Veg"%>
      </td>
    </tr>
    <tr id="lunchTypeID" style="display: none;">
      <td>
        <br/><br/><%="Lunch Type" %>
        </td><td>
        <br/><br/><%= f.select :lunch_type, options_for_select([["Normal","normal"],["Deluxe","deluxe"],["Royale","royale"]]),{:prompt=>"Select"}, {:onchange=>"",  class: 'text-width-cls'} %>
      </td>
      </tr>
    <tr id="dinnerTypeID" style="display: none;">
      <td>
        <br/><%="Dinner Type" %>
      </td><td>
      <br/><%= f.select :dinner_type, options_for_select([["Normal","normal"],["Deluxe","deluxe"],["Royale","royale"]]),{:prompt=>"Select"}, {:onchange=>"", class: 'text-width-cls'} %>
      </td>
    </tr>

     <tr>
      <td>
        <br/><%="Decoration" %>
      </td><td>
      </td>
    </tr>
    <tr>
      <td>
        <br/><%="Lighting" %>
      </td><td>
      <br/><%= f.select :light_type, options_for_select([["No","no"],["Deluxe","deluxe"],["Royale","royale"]]),{:prompt=>"Select"}, {:onchange=>"",required: 'true',  class: 'text-width-cls'} %>
      </td>
    </tr>
    <tr>
      <td>
        <br/><%="Flower" %>
      </td><td>
      <br/><%= f.select :flower_type, options_for_select([["No","no"],["Deluxe","deluxe"],["Royale","royale"]]),{:prompt=>"Select"}, {:onchange=>"",required: 'true',  class: 'text-width-cls'} %>
      </td>
    </tr>
    <tr>
      <td>
        <br/><%="Seating" %>
      </td><td>
      <br/><%= f.select :sitting_chair_type, options_for_select([["Chair","chair"],["Chair and Sofa","chair_sofa"],["Sofa","sofa"]]),{:prompt=>"Select"}, {:onchange=>"",required: 'true',  class: 'text-width-cls'} %>
      </td>
    </tr>
    <tr>
      <td>
        <br/><%="Total" %>
      </td><td>
        <br/><%= f.text_field :total_amount,:class=>"text-field-cls" %>
      </td>
    </tr>

    <tr>
    	<td>
    		<div class="">
    			<br/><br/><%= f.submit 'Submit', :class => 'submit' %>
    			<%= link_to "cancel", {:controller=>'events',:action=>'venue'}, :class => "submit cancel-btn4" %>
    		</div>
    	</td>
  	</tr>
  </table>
<% end %>
 
</div>



<script>

  $(document).ready(function(){
    $('#book_event_date').datepicker();

    $("#bookEventFormID").validate({
      debug: true,
      rules: {
        "book_event[booking_id]": {required: true},
        "book_event[function_id]": {required: true},
        "book_event[venue_id]": {required: true},
        "book_event[date]": {required: true}
      }
    });
  });
  
  function selectFunction(functionID){
    var function_id = functionID;

    if(function_id !=''){
      var urlLink = "/book_events/function_price";
      $.ajax({
        url: urlLink,
        cache: false,
        data: {"function_id":function_id,"request_by":"function"},
        success: function(data){
          //console.log(data);
          $("#book_event_price").val(data[0]);
        }
      });
    }
  }


  function venuFunction(venue_id){

    if(venue_id !=''){
      var urlLink = "/book_events/function_price";
      $.ajax({
        url: urlLink,
        cache: false,
        data: {"venue_id":venue_id,"request_by":"venue"},
        success: function(data){
          //console.log(data);
          $("#book_event_address").val(data[0]);
        }
      });
    }
  }

  $(document).on("change","#book_event_no_of_guest",function(){
    var function_price = $("#book_event_price").val();
    var no_of_guest = $("#book_event_no_of_guest").val();
    var total_amount = parseInt(function_price)*parseInt(no_of_guest);
    $("#book_event_amount").val(total_amount);

  });


  $(document).on("click","#book_event_lunch",function(){
    if ($("#book_event_lunch").is(":checked")) {
      $("#lunchTypeID").show();
    }else{
      $("#lunchTypeID").hide();
    }
  });

  $(document).on("click","#book_event_dinner",function(){
    if ($("#book_event_dinner").is(":checked")) {
      $("#dinnerTypeID").show();
    }else{
      $("#dinnerTypeID").hide();
    }
  });
  
</script>

<style type="text/css">
  .scroll-cls{
    max-height: 140px;
    overflow: auto;
    max-width: 218px;
  }

  #divScrollID{
    max-height: 470px;
    overflow: auto;
  }
</style>