<div id="divScrollID">
  <h2>Book Event</h2>
  <%= form_for :book_event, :url=>{:controller=>'book_events',:action=>'create_events' },:html=>{:id=>"",:multipart => true} do |f| %>
    <%=f.hidden_field :user_id, :value => current_user.id%>
    <%=f.hidden_field :status, :value => "pending"%>
    <div class="field">
      <label for="booking_id"><%="Booking Id"%></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :booking_id,:class=>"text-field-cls" %>
    </div>
    <div class="field">
      <label for="event_type"><%=t("event_type")%></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.select :function_id, options_for_select(@event_list),{:prompt=>"Select"}, {:onchange=>"selectFunction(this.value)",required: 'true',  class: 'text-width-cls'} %>
    </div>

    <div class="field">
      <label for="per_person"><%=t("price/per_person")%></label>&nbsp;
      <%= f.text_field :price,:class=>"text-field-cls",:readonly=>true %>
    </div>

    <div class="field">
      <label for="booking_id"><%=t("event_venue")%></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.select :venue_id, options_for_select(@event_venue),{:prompt=>"Select"}, {:onchange=>"venuFunction(this.value)",required: 'true',  class: 'text-width-cls'} %>
    </div>

    <div class="field">
      <label for="booking_id"><%=t("address")%></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_area :address,:class=>"text-field-cls",:readonly=>true %>
    </div>

    <div class="field">
      <label for="booking_id"><%=t("no_of_guest")%></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :no_of_guest,:class=>"text-width-cls" %>
    </div>

    <div class="field">
      <label for="booking_id"><%=t("amount")%></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :amount,:class=>"text-width-cls",:readonly=>true %>
    </div>
    <div class="field">
      <label for="booking_id"><%="Date"%></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :date,:class=>"text-width-cls" %>
    </div>


    <div class="field">
      <br/><label for="booking_id"><%=t("equipment")%></label>
    </div>

    <div class="field">
      <%= f.check_box :dj, {:class => ""}%>&nbsp;
      <label for="booking_id"><%="DJ"%></label>&nbsp;&nbsp;&nbsp;
      <%= f.check_box :stage, {:class => ""} %>&nbsp;
      <label for="booking_id"><%=t("stage")%></label>&nbsp;&nbsp;&nbsp;
      <%= f.check_box :mike_speaker, {:class => ""} %>&nbsp;
      <label for="booking_id"><%="Mike and Speaker"%></label>
    </div>

  <div class="field">
      <label for="booking_id"><%=t("food")%></label>
    </div>

    <div class="field">
      <%= f.check_box :break_fast, {:class => ""}%>&nbsp;
      <label for="booking_id"><%=t("break_fast")%></label>&nbsp;&nbsp;&nbsp;
      <%= f.check_box :lunch, {:class => ""} %>&nbsp;
      <label for="booking_id"><%=t("lunch")%></label>&nbsp;&nbsp;&nbsp;
      <%= f.check_box :tea_snack, {:class => ""} %>&nbsp;
      <label for="booking_id"><%="Tea and Snack"%></label>&nbsp;&nbsp;&nbsp;
          <%= f.check_box :dinner, {:class => ""} %>&nbsp;
      <label for="booking_id"><%=t("dinner")%></label>
    </div>


    <div class="field">
      <%= f.radio_button :food_type, 'veg'%>&nbsp;
      <label for="booking_id"><%=t("only_veg")%></label>&nbsp;&nbsp;
      <%= f.radio_button :food_type, 'nonveg'%>&nbsp;
      <label for="booking_id"><%=t("only_non_veg")%></label>&nbsp;&nbsp;
      <%= f.radio_button :food_type, 'veg_nonveg'%>&nbsp;
      <label for="booking_id"><%="Veg and Nonveg"%></label>
    </div>

    <div class="field" id="lunchTypeID" style="display: none;">
      <label for="booking_id"><%=t("lunch_type")%></label>&nbsp;
      <%= f.select :lunch_type, options_for_select([["Normal","normal"],["Deluxe","deluxe"],["Royale","royale"]]),{:prompt=>"Select"}, {:onchange=>"",  class: 'text-width-cls'} %>
    </div>

    <div class="field" id="dinnerTypeID" style="display: none;">
      <label for="booking_id"><%=t("dinner_type")%></label>&nbsp;
      <%= f.select :dinner_type, options_for_select([["Normal","normal"],["Deluxe","deluxe"],["Royale","royale"]]),{:prompt=>"Select"}, {:onchange=>"", class: 'text-width-cls'} %>
    </div>

    <div class="field">
      <label for="booking_id"><%=t("decoration")%></label>
    </div>

    <div class="field">
      <label for="booking_id"><%=t("lighting")%></label>&nbsp;
      <%= f.select :light_type, options_for_select([["No","no"],["Deluxe","deluxe"],["Royale","royale"]]),{:prompt=>"Select"}, {:onchange=>"",required: 'true',  class: 'text-width-cls'} %>
    </div>

    <div class="field">
      <label for="booking_id"><%=t("flower")%></label>&nbsp;&nbsp;&nbsp;
      <%= f.select :flower_type, options_for_select([["No","no"],["Deluxe","deluxe"],["Royale","royale"]]),{:prompt=>"Select"}, {:onchange=>"",required: 'true',  class: 'text-width-cls'} %>
    </div>

    <div class="field">
      <label for="booking_id"><%=t("seating")%></label>&nbsp;&nbsp;
      <%= f.select :sitting_chair_type, options_for_select([["Chair","chair"],["Chair and Sofa","chair_sofa"],["Sofa","sofa"]]),{:prompt=>"Select"}, {:onchange=>"",required: 'true',  class: 'text-width-cls'} %>
    </div>

    <div class="field">
      <label for="booking_id"><%=t("total")%></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :total_amount,:class=>"text-field-cls" %>
    </div>

    <div class="field">
  		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.submit 'Submit', :class => 'submit' %>
  		<%= link_to "cancel", {:controller=>'events',:action=>'venue'}, :class => "submit cancel-btn4" %>
  	</div>
  <% end %>
</div>



<script>

  $(document).ready(function(){
    $('#book_event_date').datepicker();

    $("#bookEventFormID").validate({
      debug: true,
      rules: {
        "book_event[booking_id]": {required: true},
        "book_event[function_id]": {required: true},
        "book_event[venue_id]": {required: true},
        "book_event[date]": {required: true}
      }
    });
  });
  
  function selectFunction(functionID){
    var function_id = functionID;

    if(function_id !=''){
      var urlLink = "/book_events/function_price";
      $.ajax({
        url: urlLink,
        cache: false,
        data: {"function_id":function_id,"request_by":"function"},
        success: function(data){
          //console.log(data);
          $("#book_event_price").val(data[0]);
        }
      });
    }
  }


  function venuFunction(venue_id){

    if(venue_id !=''){
      var urlLink = "/book_events/function_price";
      $.ajax({
        url: urlLink,
        cache: false,
        data: {"venue_id":venue_id,"request_by":"venue"},
        success: function(data){
          //console.log(data);
          $("#book_event_address").val(data[0]);
        }
      });
    }
  }

  $(document).on("change","#book_event_no_of_guest",function(){
    var function_price = $("#book_event_price").val();
    var no_of_guest = $("#book_event_no_of_guest").val();
    var total_amount = parseInt(function_price)*parseInt(no_of_guest);
    $("#book_event_amount").val(total_amount);

  });


  $(document).on("click","#book_event_lunch",function(){
    if ($("#book_event_lunch").is(":checked")) {
      $("#lunchTypeID").show();
    }else{
      $("#lunchTypeID").hide();
    }
  });

  $(document).on("click","#book_event_dinner",function(){
    if ($("#book_event_dinner").is(":checked")) {
      $("#dinnerTypeID").show();
    }else{
      $("#dinnerTypeID").hide();
    }
  });
  
</script>

<style type="text/css">
  .scroll-cls{
    max-height: 140px;
    overflow: auto;
    max-width: 218px;
  }

  #divScrollID{
    max-height: 470px;
    overflow: auto;
  }
</style>