<%= render :partial => 'events/event_left_menu' %><br/>
<div id="divScrollID">
<%= form_for :event_detail, :url=>{:controller=>'events',:action=>'create_event' }, :html => {:multipart => true} do |f| %>
  <table>
    <tr>
      <td>
        <%="Select Venue"%>
      </td><td>
        <%= f.select :venue_id, options_for_select(@venue),{:prompt=>"Select"}, {:onchange=>"venueAddress(this.value)",required: 'true',  class: 'text-width-cls'} %>
      </td>
    </tr>
    <tr>
      <td>
        <%="Venue Address" %>
      </td><td>
        <%= f.text_area :venue_address,:class=>"text-field-cls",:readonly=>true %>
      </td>
    </tr>
    <tr>
      <td>
        <%="Phone No." %>
      </td><td>
        <%= f.text_field :phone_number,:class=>"text-width-cls" %>
      </td>
    </tr>
    <tr>
      <td>
        <%="Mobile No." %>
      </td><td>
        <%= f.text_field :mobile_number,:class=>"text-width-cls" %>
      </td>
    </tr>
    <tr>
      <td>
        <%="Capacity" %>
      </td><td>
        <%= f.text_field :capacity,:class=>"text-width-cls" %>
      </td>
    </tr>
    <tr>
      <td>
        <%="Prefered For" %>
      </td><td>
        <%= f.select :function_id, options_for_select(@function),{:prompt=>"All"}, {:onchange=>"functionID(this.value)",  class: 'text-width-cls'} %>
      </td>
    </tr>
    <tr>
      <td>
        <%="Amount/Per Person" %>
        </td><td>
        <%= f.text_field :price,:class=>"text-width-cls"%>
      </td>
    </tr>
    <tr>
      <td>
        <h3><%="Upload Venue Image" %></h3>
      </td>
    </tr>
    
       <tr>
        <td>
          <div class="scroll-cls"> 
          <div id="cloneDIVID">
            <table>
              <tr>
                <td>
                  <%= f.file_field :image,:class=>"file-field-cls text-field-cls" %>
                </td>
              </tr><tr><td>
                  <%= "Title" %>
                  <%= f.text_field :title,:class=>"title-width-cls", :style=>"margin-bottom: 4px;" %>
                </td>
              </tr>
          </table>
        </div>
        </div>
        </td>
      </tr>
    <tr>
      <td>
        <a class="submit add_images_cls" style="margin-left: 48px;">Add More Image</a>
      </td>
    </tr>

    <tr>
    	<td>
    		<div class="mg-div-cls">
    			<%= f.submit 'Submit', :class => 'submit' %>
    			<%= link_to "cancel", {:controller=>'events',:action=>'venue'}, :class => "submit cancel-btn4" %>
    		</div>
    	</td>
  	</tr>
  </table>
<% end %>
 
</div>
<script type="text/javascript">
  $(".add_images_cls").on("click",function(){
    var clone = $("#cloneDIVID").clone() //.insertAfter("div#cloneDIVID:last");
    clone.find(".file-field-cls").val('');
    clone.find(".title-width-cls").val('');

    clone.insertAfter("div#cloneDIVID:last");
  });
 
  function venueAddress(venue_Id){
    if(venue_Id !=''){
      var urlLink = "/events/venue_address";
      $.ajax({
        url: urlLink,
        cache: false,
        data: {"venue_id":venue_Id,"function":"by_venue"},
        success: function(data){
          var address =data["venue_address"] 
          //console.log(address);
          $("#event_detail_venue_address").val(address);
        }
      });
    }else{
      $("#event_detail_venue_address").val('');
    }
  }

  function functionID(id){
   if(id !=''){
      $('#event_detail_price').attr("disabled", "disabled"); 
      var urlLink = "/events/venue_address";
      $.ajax({
        url: urlLink,
        cache: false,
        data: {"function_id":id,"function":"by_function"},
        success: function(data){
          var address =data["venue_address"] 
          //console.log(address);
          $("#event_detail_price").val(address);
        }
      });
    }else{
      $('#event_detail_price').attr("disabled", false); 
      $("#event_detail_price").val('');
    }
  }
 
  
</script>

<style type="text/css">
  .scroll-cls{
    max-height: 140px;
    overflow: auto;
    max-width: 218px;
  }

  #divScrollID{
    max-height: 470px;
    overflow: auto;
  }
</style>