<%= render :partial => 'events/event_left_menu' %><br/>
<%= form_for :event_detail, :url=>{:controller=>'events',:action=>'create_event' }, :html => {:id => "createEventFromID",:multipart => true} do |f| %>
    <div class="field">
      <label><%="Select Function" %><span>&nbsp;*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.select :function_id, options_for_select(@function),{:prompt=>"Select"}, {:onchange=>"functionID(this.value)",  class: 'text-width-cls'} %>
    </div>

    <div class="field">
      <label><%="Select Venue" %><span>&nbsp;*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.select :venue_id, options_for_select(@venue),{:prompt=>"Select"}, {:onchange=>"venueAddress(this.value)",  class: 'text-width-cls'} %>
    </div>

    <div class="field">
      <label><%="Venue Address" %><span>&nbsp;*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_area :venue_address,:class=>"text-field-cls",:readonly=>true %>
    </div>

    <div class="field">
      <label><%="Phone No." %><span>&nbsp;*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :phone_number,:class=>"text-width-cls" %>
    </div>

    <div class="field">
      <label><%="Mobile No." %><span>&nbsp;*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :mobile_number,:class=>"text-width-cls" %>
    </div>

    <div class="field">
      <label> <%="Capacity" %><span>&nbsp;*</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.text_field :capacity,:class=>"text-width-cls" %>
    </div>

    <div class="field">
      <label><%="Amount/Per Person" %><span>&nbsp;*</span></label>
      <%= f.text_field :price,:class=>"text-width-cls"%><br/><br/>
    </div>

		<div class="mg-div-cls">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<%= f.submit 'Submit', :class => 'submit' %>
			<%= link_to "cancel", {:controller=>'events',:action=>'venue'}, :class => "submit cancel-btn4" %>
		</div>
<% end %>
 

<script>

  $(document).ready(function(){
    $("#createEventFromID").validate({
      debug: true,
      rules: {
        "event_detail[venue_id]": {required: true},
        "event_detail[mobile_number]": {required: true,number: true},
        "event_detail[capacity]": {required: true,number: true},
        "event_detail[price]": {required: true,number: true},
        "event_detail[function_id]": {required: true,number: true}
      }
    });
  });

 
  function venueAddress(venue_Id){
    if(venue_Id !=''){
      var urlLink = "/events/venue_address";
      $.ajax({
        url: urlLink,
        cache: false,
        data: {"venue_id":venue_Id,"function":"by_venue"},
        success: function(data){
          var address =data["venue_address"] 
          //console.log(address);
          $("#event_detail_venue_address").val(address);
        }
      });
    }else{
      $("#event_detail_venue_address").val('');
    }
  }

  function functionID(id){
   if(id !=''){
      $('#event_detail_price').attr("disabled", "disabled"); 
      var urlLink = "/events/venue_address";
      $.ajax({
        url: urlLink,
        cache: false,
        data: {"function_id":id,"function":"by_function"},
        success: function(data){
          var address =data["venue_address"] 
          //console.log(address);
          $("#event_detail_price").val(address);
        }
      });
    }else{
      $('#event_detail_price').attr("disabled", false); 
      $("#event_detail_price").val('');
    }
  }
 
  
</script>
