<%= form_for :venue_detail, :url=>{:controller=>'events',:action=>'create_venue' } do |f| %>
  <table>
    <tr>
    	<td>
    		<%="Name" %><br/>
    		<%= f.text_field :name %>
    	</td>
    </tr>
    <tr>
      <td>
        <%="Address" %>
        <%= f.text_area :address %>
      </td>
    </tr>
    <tr>
    	<td>
    		<div class="mg-div-cls">
    			<%= f.submit 'Submit', :class => 'submit' %>
    			<%= link_to "cancel", {:controller=>'events',:action=>'venue'}, :class => "submit cancel-btn" %>
    		</div>
    	</td>
  	</tr>
  </table>
<% end %>
 


