<%= render :partial => 'events/event_left_menu' %><br/>
<div id="divScrollID">
<%= form_for :event_detail, :url=>{:controller=>'events',:action=>'create_event' }, :html => {:id => "createEventFromID",:multipart => true} do |f| %>
  <table>
    <tr>
      <td>
        <%="Select Venue"%><span> *</span>
      </td><td>
        <%= f.select :venue_id, options_for_select(@venue),{:prompt=>"Select"}, {:onchange=>"venueAddress(this.value)",required: 'true',  class: 'text-width-cls'} %>
      </td>
    </tr>
    <tr>
      <td>
        <%="Venue Address" %>
      </td><td>
        <%= f.text_area :venue_address,:class=>"text-field-cls",:readonly=>true %>
      </td>
    </tr>
    <tr>
      <td>
        <%="Phone No." %>
      </td><td>
        <%= f.text_field :phone_number,:class=>"text-width-cls" %>
      </td>
    </tr>
    <tr>
      <td>
        <%="Mobile No." %><span> *</span>
      </td><td>
        <%= f.text_field :mobile_number,:class=>"text-width-cls" %>
      </td>
    </tr>
    <tr>
      <td>
        <%="Capacity" %><span> *</span>
      </td><td>
        <%= f.text_field :capacity,:class=>"text-width-cls" %>
      </td>
    </tr>
    <tr>
      <td>
        <%="Prefered For" %>
      </td><td>
        <%= f.select :function_id, options_for_select(@function),{:prompt=>"All"}, {:onchange=>"functionID(this.value)",  class: 'text-width-cls'} %>
      </td>
    </tr>
    <tr>
      <td>
        <%="Amount/Per Person" %><span> *</span>
        </td><td>
        <%= f.text_field :price,:class=>"text-width-cls"%>
      </td>
    </tr>
    <tr>
    	<td>
    		<div class="mg-div-cls">
    			<%= f.submit 'Submit', :class => 'submit' %>
    			<%= link_to "cancel", {:controller=>'events',:action=>'venue'}, :class => "submit cancel-btn4" %>
    		</div>
    	</td>
  	</tr>
  </table>
<% end %>
 
</div>

<script>

  $(document).ready(function(){
    $("#createEventFromID").validate({
      debug: true,
      rules: {
        "event_detail[venue_id]": {required: true},
        "event_detail[mobile_number]": {required: true,number: true},
        "event_detail[capacity]": {required: true,number: true},
        "event_detail[price]": {required: true,number: true},
        "event_detail[image]": {required: true},
        "event_detail[title]": {required: true}
      }
    });
  });

 
  function venueAddress(venue_Id){
    if(venue_Id !=''){
      var urlLink = "/events/venue_address";
      $.ajax({
        url: urlLink,
        cache: false,
        data: {"venue_id":venue_Id,"function":"by_venue"},
        success: function(data){
          var address =data["venue_address"] 
          //console.log(address);
          $("#event_detail_venue_address").val(address);
        }
      });
    }else{
      $("#event_detail_venue_address").val('');
    }
  }

  function functionID(id){
   if(id !=''){
      $('#event_detail_price').attr("disabled", "disabled"); 
      var urlLink = "/events/venue_address";
      $.ajax({
        url: urlLink,
        cache: false,
        data: {"function_id":id,"function":"by_function"},
        success: function(data){
          var address =data["venue_address"] 
          //console.log(address);
          $("#event_detail_price").val(address);
        }
      });
    }else{
      $('#event_detail_price').attr("disabled", false); 
      $("#event_detail_price").val('');
    }
  }
 
  
</script>

<style type="text/css">
  .scroll-cls{
    max-height: 140px;
    overflow: auto;
    max-width: 218px;
  }

  #divScrollID{
    max-height: 470px;
    overflow: auto;
  }
</style>