<%= render :partial => 'events/event_left_menu' %><br/>
  <%= link_to "Add Event", {:controller=>'events',:action=>'add_event'}, :class => "submit cancel-btn" %><br/><br/>
	<%if @event_detail.length>0%>
		<table class="event-table">
			<tr>
				<th><%="Venue"%></th>
				<th><%="Phone No."%></th>
				<th><%="Mobile No."%></th>
				<th><%="Capacity"%></th>
				<th><%="Prefered For"%></th>
				<th><%="Price/Per-Persion"%></th>
				<th><%="Actions"%></th>
			</tr>
			<%@event_detail.each do |f|%>
				<%venue=Venue.find_by(:id=>f.venu_id)%>
				<%function=FunctionDetail.find_by(:id=>f.function_id)%>

		  	<tr>
		    	<td>
		    		<%= venue.try(:name) %>
		    	</td>
		     	<td>
		    		<%= f.try(:phone_number) %>
		    	</td>
		    	<td>
		    		<%= f.try(:mobile_number) %>
		    	</td>
		    	<td>
		    		<%= f.try(:capacity) %>
		    	</td>
		    	<td>
		    		<%= function.try(:name) %>
		    	</td>
		    	<td>
		    		<%= f.try(:price_id) %>
		    	</td>
		    	<td>
		    		<button title="upload photos" id="<%=raw f.id%>-uploadPhotoAlbumsBTNID" class="upload-albums-btn mg-icon-btn"><i class="fa fa-upload"></i></button>
		    	</td>
		    </tr>
		    
		  <%end%>
	  </table>
	<%else%>
	 	<%="No Event Created"%>
	<%end%>



<script>

	$(document).on("click",".upload-albums-btn",function(){
		var myID =$(this).attr('id');
    var Id=myID.split("-");
	  var urlLink = "/events/venue_image?id="+Id[0];
	  window.location=urlLink;
  });


 
</script>

	              
<style type="text/css">

	
</style>