<h2>Customer Details</h2>
<%@user_id=current_user.id%>	
<%@user=User.find_by(:id=>@user_id)%>	
<table class="event-table">
	<tr>
		<th><%="User Name"%></th>
		<th><%="First Name"%></th>
		<th><%="Middle Name"%></th>
		<th><%="Last Name"%></th>
		<th><%="Mobile No."%></th>
		<th><%="Email"%></th>
		<th><%="Address"%></th>
	</tr>
	<tr>
		<td>
			<%=@user.user_name%>
		</td>
		<td>
			<%=@user.first_name%>
		</td>
		<td>
			<%=@user.middle_name%>
		</td>
		<td>
			<%=@user.last_name%>
		</td>
		<td>
			<%=@user.mobile_no%>
		</td><td>
			<%=@user.email%>
		</td><td>
			<%=@user.address%>
		</td>
	</tr>
</table>
