<%= render :partial => 'events/event_left_menu' %>

<!-- <div class="div-margin"> -->
	<button class="submit add-function">Add Function</button><br/><br/>

	<%if @function.length>0%>
		<table class="event-table">
			<tr>
				<th><%="Name"%></th>
				<th><%="Description"%></th>
				<th><%="Actions"%></th>
			</tr>
			<%@function.each do |f|%>
		  	<tr>
		  		<td>
		    		<%= f.try(:name) %>
		    	</td>
		     	<td>
		    		<%= f.try(:description) %>
		    	</td>
		    	<td></td>
		    </tr>
		    
		  <%end%>
	  </table>
	<%else%>
	 	<%="No Function Created"%>
	<%end%>
<!-- </div> -->

<div id="functionID"></div>

<!-- <a class="edit-student-admission mg-icon-btn" title="Edit" href="/mg_student_admissions/1/edit">




<script>

	$(document).on("click",".add-function",function(){
	  var urlLink = "/events/function";
	  $.ajax({
	    url: urlLink,
	    cache: false,
	    success: function(data){
	      $("#functionID").dialog({
	        modal: true,
	        title: "Add Function",
	        minHeight: 200,
	        minWidth: 300,
	        open: function(){
	          $(this).html(data);
	        }
	      });
	    }
	  });
  });
 
</script>

	              