<%= render :partial => 'events/event_left_menu' %>

<!-- <div class="div-margin"> -->
	<button class="submit add-function">Add Function</button><br/><br/>

	<%if @function.length>0%>
		<table class="event-table">
			<tr>
				<th><%="Name"%></th>
				<th><%="Description"%></th>
				<th><%="Actions"%></th>
			</tr>
			<%@function.each do |f|%>
		  	<tr>
		  		<td>
		    		<%= f.try(:name) %>
		    	</td>
		     	<td>
		    		<%= f.try(:description) %>
		    	</td>
		    	<td>
            <button title="edit" id="<%=raw f.id%>-editVenueBTNID" class="edit-function-btn mg-icon-btn"><i class="fa fa-pencil-square-o"></i></button>
            <button title="deleted" id="<%=raw f.id%>-deletevenueBTNID" class="delete-function-btn mg-icon-btn"><i class="fa fa-trash"></i></button>
          </td>
		    </tr>
		    
		  <%end%>
	  </table>
	<%else%>
	 	<%="No Function Created"%>
	<%end%>
<!-- </div> -->

<div id="functionID"></div>
<div id="functionEditDIVID"></div>



<script>

	$(document).on("click",".add-function",function(){
	  var urlLink = "/events/function";
	  $.ajax({
	    url: urlLink,
	    cache: false,
	    success: function(data){
	      $("#functionID").dialog({
	        modal: true,
	        title: "Add Function",
	        minHeight: 200,
	        minWidth: 300,
	        open: function(){
	          $(this).html(data);
	        }
	      });
	    }
	  });
  });


  $(document).on("click",".edit-function-btn",function(){
    var myID =$(this).attr('id');
    var Id=myID.split("-");
    var urlLink = "/events/edit_function?id="+Id[0];
    $.ajax({
      url: urlLink,
      cache: false,
      success: function(data){
        $("#functionEditDIVID").dialog({
          modal: true,
          title: "Edit Venue Details",
          minHeight: "auto",
          minWidth: "auto",
          open: function(){
            $(this).html(data);
          }
        });
      }
    });
  });

 $(document).on("click",".delete-function-btn",function(){
    var myID =$(this).attr('id');
    var Id=myID.split("-");
    var urlLink = "/events/delete_function?id="+Id[0];
    var result = confirm("Are you sure to delete");
    if(result){
      window.location=urlLink;
    }
  });
 
</script>

	              