<%= render :partial => 'events/event_left_menu' %>
	<button class="submit add-venue">Add Venue</button><br/><br/>
	<%if @venue.length>0%>
		<table class="event-table">
			<tr>
				<th><%="Name"%></th>
				<th><%="Address"%></th>
				<th><%="Actions"%></th>
			</tr>
			<%@venue.each do |f|%>
		  	<tr>
		    	<td>
		    		<%= f.try(:name) %>
		    	</td>
		     	<td>
		    		<%= f.try(:address) %>
		    	</td>
          <td>
            <button title="edit" id="<%=raw f.id%>-editVenueBTNID" class="edit-venue-btn mg-icon-btn"><i class="fa fa-pencil-square-o"></i></button>
            <button title="deleted" id="<%=raw f.id%>-deletevenueBTNID" class="delete-venue-btn mg-icon-btn"><i class="fa fa-trash"></i></button>
          </td>
		    </tr>
		    
		  <%end%>
	  </table>
	<%else%>
	 	<%="No Venue Created"%>
	<%end%>

<div id="venueDIVID"></div>
<div id="venueEditDIVID"></div>



<script>

	$(document).on("click",".add-venue",function(){
	  var urlLink = "/events/add_venue";
	  $.ajax({
	    url: urlLink,
	    cache: false,
	    success: function(data){
	      $("#venueDIVID").dialog({
	        modal: true,
	        title: "Add Function",
	        minHeight: "auto",
	        minWidth: "auto",
	        open: function(){
	          $(this).html(data);
	        }
	      });
	    }
	  });
  });
 
 $(document).on("click",".edit-venue-btn",function(){
    var myID =$(this).attr('id');
    var Id=myID.split("-");
    var urlLink = "/events/edit_venue?id="+Id[0];
    $.ajax({
      url: urlLink,
      cache: false,
      success: function(data){
        $("#venueEditDIVID").dialog({
          modal: true,
          title: "Edit Venue Details",
          minHeight: "auto",
          minWidth: "auto",
          open: function(){
            $(this).html(data);
          }
        });
      }
    });
  });

 $(document).on("click",".delete-venue-btn",function(){
    var myID =$(this).attr('id');
    var Id=myID.split("-");
    var urlLink = "/events/delete_venue?id="+Id[0];
    var result = confirm("Are you sure to delete");
    if(result){
      window.location=urlLink;
    }
  });
</script>

	              