<!DOCTYPE html>
<html>
  <head>
    <title>EventManagement</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
    
  <header>
    <div>
      <a href="#"><img src="/assets/event.png"  style="width: 253px; height: 100px; padding: 2px 1px;" border=0>
      </a>
      <h2><a href="#" border=0><%="Event Management" %></a></h2>
    </div>
    <nav>
      <table>
        <tr>
          <td class="layout-space">
            <a href="/events">My Profile</a>
          <td>
            <%= link_to 'Update profile', edit_user_registration_path, :class => 'navbar-link' %>
          </td>
          <td class="layout-space">
            <a href="/events/venue_detail">About Venue</a>
          </td>
          <td class="layout-space">
            <a href="#">New Booking</a>
          </td>
          <td class="layout-space">
            <a href="#">View Booking</a>
          </td>
          <td class="layout-space">
            <a href="#">View Venue</a>
          </td>
          <td class="layout-space">
            <a href="#">View Feedback</a>
          </td>
          <td>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          </td>
        </tr>
      </table>
    </nav>
  </header>
  <body>
      <div id="main">
      </div>

    <%= yield %>
    <div id="footer"></div>
  </body>
</html>





